data/aggr/data_allTables.csv
data/aggr/data_transTable.csv
database_exploration/account.csv
database_exploration/card.csv
database_exploration/client.csv
database_exploration/disp.csv
database_exploration/district.csv
database_exploration/loan.csv
database_exploration/order.csv
database_exploration/trans.csv
data_analysis/loans_and_cards.csv
data_analysis/loans_and_clients.csv
data_analysis/loans_and_orders.csv
data_analysis/loans_and_transactions.csv