data/aggr/data_allTables.csv
data/aggr/data_transTable.csv
data/database_exploration/account.csv
data/database_exploration/card.csv
data/database_exploration/client.csv
data/database_exploration/disp.csv
data/database_exploration/district.csv
data/database_exploration/loan.csv
data/database_exploration/order.csv
data/database_exploration/trans.csv
data/data_analysis/loans_and_cards.csv
data/data_analysis/loans_and_clients.csv
data/data_analysis/loans_and_orders.csv
data/data_analysis/loans_and_transactions.csv
