<br>
<center>
	<p>
  <h1>Financial Fraud Detection - Ibotta</h1>
</center>

<br>
<br>
<left>
	<h2>Scope of Work</h2>
	<h3>This tool assists the fraud investigations team in the following ways</h3>
	<ul>
         <li> <font size="+2"> View the accounts that are highly likely to have fraudulent activities in the complete dateset </font></li>
         <li><font size="+2"> Visualize and analyze individual account's behavior </font></li>
         <li><font size="+2"> Download raw data for individual accounts for further investigation </font></li>
         <li><font size="+2"> Update transactions that have been falsely labeled by the Anomaly Detection model. The model learns and betters itself from this manual labelling </font></li>
      </ol>
  </ul>
</left>
<br>
<br>
<left>
	<h2>Get Started</h2>
	<ul>
<li> <font size="+2"> <b>/ </b>- Home page - Scope of Work and Getting Started </font></li>
<li> <font size="+2"> <b>/risk</b> - List of accounts with their corresponding risk percentage (number of anomalies per transaction) </font></li>
<li> <font size="+2"> <b>/investigate/(account_id)</b> - Vizualization for analysis of the individual input account </font></li>
<li> <font size="+2"> <b>/data/(account_id)</b> - Download a csv file with all transactions pertaining to the input account </font></li>
<li> <font size="+2"> <b>/change </b>- Mark a particular transaction as anomaly (label = 1) or normal (label = 0) for ML model enhancement </font></li>
</ul>

	</left>>
